@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab');

body {
    margin: 0;
    height: 100vh;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    color: #181818;
}

main {
    width: 100%;
    padding: 3rem 0;
}

spacer {
    flex: 1;
}

header {
    margin: auto;
    display: flex;
    max-width: 800px;
    padding: 10px;
}

content {
    display: block;
    margin: auto;
    max-width: 800px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}

content p {
    text-align: justify;
    line-height: 1.5;
}

content end {
    display: block;
    width: 100%;
    text-align: right;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Bitter', monospace;
    font-weight: normal;
    background-color: #181818;
    color: white;
    padding: 10px;
    margin: -10px;
}

/* Highlight */
hi {
    background-color: #ddf087;
    background-image: linear-gradient(45deg, #ddf087 25%, #c6d67c 25%, #c6d67c 50%, #ddf087 50%, #ddf087 75%, #c6d67c 75%, #c6d67c 100%);
    background-size: 20.00px 20.00px;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #288ebd;
    transition: color 0.5s ease;
}

a:hover {
    color: #1c6d92;
}

footer {
    background-color: #181818;
    color: white;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: white;
}